body{
    font-size: 15px;
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
    
  }
  .attribution a { color: hsl(228, 45%, 44%); }
  .top{
    text-align: center;
    margin-top: 50px;
    color :hsl(229, 6%, 66%);
  }
  h2{
    margin: 0;
  }
  .span1{
    font-weight: 400
  }
  .span2{
    font-weight: 600;
    color:hsl(234, 12%, 34%);
  }
  p {
    font-weight: 200
  }
  .caja1{
    
    text-align: left;
    border-top: 5px solid  hsl(0, 78%, 62%);
    width: 25%;
    height: 35%;
    box-shadow: 5px 10px 8px #ccc9c9;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left:40%;
    margin-top:40% ;
    position:absolute;
    margin-top: 15px;

  }
  .caja2{
    margin: auto;
    text-align: left;
    border-top: 5px solid  hsl(180, 62%, 55%);
    width: 25%;
    height: 35%;
    box-shadow: 5px 10px 8px #ccc9c9;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    position:absolute;
    margin-left:10%;
    margin-top:10%
    
  }
  .caja3{
    margin: auto;
    text-align: left;
    border-top: 5px solid  hsl(34, 97%, 64%);
    width: 25%;
    height: 35%;
    box-shadow: 5px 10px 8px #ccc9c9;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    position:absolute;
    margin-left:40%;
    margin-top:20%
  }
  .caja4{
    margin: auto;
    text-align: left;
    border-top: 5px solid  hsl(212, 86%, 64%);
    width: 25%;
    height: 35%;
    box-shadow: 5px 10px 8px #ccc9c9;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    position:absolute;
    margin-left:70%;
    margin-top:10%
  }
  h4{
    text-align: left;
  }
  img{
    margin-left: 80%;
    position: relative;
    display: block;
  }